# API Gateway Configuration
PORT=3000

ACCESS_TOKEN_SECRET=ACCESSTOKEN

# Auth/User Microservice Connection
AUTH_USER_MS_HOST=localhost
AUTH_USER_MS_PORT=4001

# Movies Microservice Connection
MOVIES_MS_HOST=localhost
MOVIES_MS_PORT=4000