# Auth/User Microservice Configuration
HOST=0.0.0.0
PORT=4001          # TCP Port

# JWT Secrets
ACCESS_TOKEN_SECRET=ACCESSTOKEN
ACCESS_TOKEN_EXPIRATION=60000s
REFRESH_TOKEN_SECRET=REFRESHTOKEN
REFRESH_TOKEN_EXPIRATION=1y

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/MoviesApp